CompileFlags:
    Add:
        - -xc
        - -std=c23
        - -O0
        - -g
        - -DDEBUG
        - -Weverything
        - -pedantic-errors

        - -Wno-c++-compat
        - -Wno-c++98-compat
        - -Wno-pre-c11-compat
        - -Wno-pre-c23-compat
        - -Wno-declaration-after-statement
        - -Wno-padded
        - -Wno-reserved-identifier
        - -Wno-gnu-empty-struct
