If:
    PathMatch: .*\.c
CompileFlags:
    Add:
        - -std=c23
        - -0g
        - -g3
        - -DDEBUG
        - -xc
        - -Weverything
        - -pedantic-errors
        - -Wno-pre-c11-compat
        - -Wno-pre-c23-compat
        - -Wno-declaration-after-statement
        - -Wno-padded
